

.All_container {

    padding: 50px 50px 50px 0px;
    height: 730px;
    max-width: 1200px; /* whay we use 1200px */
    margin: 0 auto;

}

.login_container {

    width: 350px;
    max-width: 80%;
    height: 477px;

}

@media (max-width: 800px) {
    
    .img_container {

        display: none;

    }

    .login_container {

        margin: 0 auto;
        width: 100%; /* why use 100% */
        max-width: 350px; /* why use 350px */

    }

}

@media (max-width: 768px) {
    
    .All_container > div{

        flex-direction: column;

    }

    .img_container,
    .login_container {

        width: 100%;
        text-align: center;

    }

    .img_container {

        width: 100%;
        height: auto;

    }

}

.img_container {

    width: 585px;
    height: 490PX;

}

.img_container img {

    width: 521px;
    height: 450px;

}

.input_class {

    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    

}

.form_btn {

    background: #4A5DF9;
    color: #FFFF;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;


}

.or_container {

    position: relative;
    width: 300px;

}

.or {

    position: absolute;
    width: 50px;
    left: 60%;
    top: 5;
    text-align: center;
    transform: translateX(-50px);
    background-color: #FFFF;

}

.fece_container p {

    color: #4A5DF9;

}

.fece_container i {

    color: #4A5DF9;

}

footer {

    height: 83px;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 20px 10px;

}

.links_footer a {

    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: all 0.5s;

}

.links_footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.links_footer a:hover {

    text-decoration: underline;

}